@import '../../vars.css';

.app {
  background-color: var(--primary-color);
  min-height: 100vh;
  color: var(--secondary-color);
}

i {
  color: var(--primary-color);
}

.content {
  margin-left: 13rem;
  padding: 20rem;
}
