@import '../../vars.css';

.app {
  height: 100vh;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

i {
  color: var(--primaryColor);
}

.content {
  margin-left: 13rem;
  padding: 17rem 25rem;
}

@media (max-width: 800px) {
  .content {
    padding: 17rem 10rem;
  }
}

@media (max-width: 500px) {
  .content {
    padding: 17rem 2rem;
  }
}

.signIn {
  padding: 17rem 35rem;
}
